In [2]:
%load_ext autoreload
%autoreload 1

%aimport utils.common

%aimport

Modules to reload:
utils.common

Modules to skip:

In [64]:
import pandas as pd
import numpy as np

In [51]:
import csv

from pathlib import Path
from utils.common import (
    download_file,
    read_file_from_zip,
    bulk_insert_df
)
from orm.amazon_products import (
    session_scope,
    Product, ProductScalars
)
from sqlalchemy import select

# Download the data
- If you have trouble with this, just get it from the website directly

In [5]:
kaggle_url = 'https://www.kaggle.com/api/v1/datasets/download/karkavelrajaj/amazon-sales-dataset'
local_file =  'Downloads/amazon-sales-dataset.zip'
print(local_file)

download_file(kaggle_url, local_file)

Downloads/amazon-sales-dataset.zip
File downloaded to: Downloads/amazon-sales-dataset.zip

# Parse out what we need
- the only columns we care about are product_id, product_name, category, rating, rating count

In [52]:
df = pd.read_csv(
    read_file_from_zip(zip_path=local_file, file_name='amazon.csv'),
    sep=',',
    quoting=csv.QUOTE_MINIMAL,
    usecols=['product_id', 'product_name', 'category', 'rating', 'rating_count'],
    dtype='string'
)

In [53]:
print(df.head())

   product_id                                       product_name  \
0  B07JW9H4J1  Wayona Nylon Braided USB to Lightning Fast Cha...
1  B098NS6PVG  Ambrane Unbreakable 60W / 3A Fast Charging 1.5...
2  B096MSW6CT  Sounce Fast Phone Charging Cable & Data Sync U...
3  B08HDJ86NZ  boAt Deuce USB 300 2 in 1 Type-C & Micro USB S...
4  B08CF3B7N1  Portronics Konnect L 1.2M Fast Charging 3A 8 P...

                                            category rating rating_count
0  Computers&Accessories|Accessories&Peripherals|...    4.2       24,269
1  Computers&Accessories|Accessories&Peripherals|...    4.0       43,994
2  Computers&Accessories|Accessories&Peripherals|...    3.9        7,928
3  Computers&Accessories|Accessories&Peripherals|...    4.2       94,363
4  Computers&Accessories|Accessories&Peripherals|...    4.2       16,905

## To simplify the problem let's assume we only care about the top level category ( delimted by | ) so extract that before continuing

In [54]:
df["category"] = df["category"].str.split("|").str[0].astype("string")
print(df.head())

   product_id                                       product_name  \
0  B07JW9H4J1  Wayona Nylon Braided USB to Lightning Fast Cha...
1  B098NS6PVG  Ambrane Unbreakable 60W / 3A Fast Charging 1.5...
2  B096MSW6CT  Sounce Fast Phone Charging Cable & Data Sync U...
3  B08HDJ86NZ  boAt Deuce USB 300 2 in 1 Type-C & Micro USB S...
4  B08CF3B7N1  Portronics Konnect L 1.2M Fast Charging 3A 8 P...

                category rating rating_count
0  Computers&Accessories    4.2       24,269
1  Computers&Accessories    4.0       43,994
2  Computers&Accessories    3.9        7,928
3  Computers&Accessories    4.2       94,363
4  Computers&Accessories    4.2       16,905

### Remove non numeric values from ratings_count

In [ ]:
# clean up comma in ratings_count
df["rating_count"] = (
    df["rating_count"]
    .astype(str)  # Convert all values to strings
    .str.replace(",", "", regex=True)  # Remove commas
    .replace("<NA>", "0")  # Explicitly replace Pandas <NA> values
    .fillna("0")  # Ensure any remaining NaNs are replaced
    .astype("int64")  # Convert to integer
)

print(df.head())

### Remove non integers from  ratings columns

In [68]:
df["rating"] = (
    df["rating"]
    .astype(str)
    .replace("|",np.nan) 
    )# Explicitly replace Pandas <NA> values

print(df[df["product_id"] == "B08L12N5H1"])

      product_id                                       product_name  \
1279  B08L12N5H1  Eureka Forbes car Vac 100 Watts Powerful Sucti...

          category rating rating_count
1279  Home&Kitchen    NaN          992

## What EDA would you do to figure out what the DDL in your database should be regarding things like primary key uniqueness, reasonable varchar lengths, numeric precision, nullability etc...?
- If PK violations might occur, maybe just keep the first occurence for simplicity?

In [69]:
# check to see if there are dubes by product_id
has_duplicates = df["product_id"].duplicated().any()
print(f"Any duplicates by product_id: {has_duplicates}")

#Show counts of product id
product_counts = df.groupby("product_id").size().reset_index(name="count")
product_counts = product_counts.sort_values(by="count", ascending=False)
print(product_counts)

# drop duplicates
df_unique = df.drop_duplicates(subset="product_id", keep="first")

#confirm no duplicates in has_duplicates df
has_duplicates = df_unique["product_id"].duplicated().any()
print(f"Any duplicates by product_id: {has_duplicates}")

Any duplicates by product_id: True
      product_id  count
261   B077Z65HSD      3
939   B09KLVMZ3B      3
848   B098NS6PVG      3
522   B083342NKJ      3
519   B082T6V3DT      3
...          ...    ...
457   B07WHS7MZ1      1
456   B07WHQWXL7      1
455   B07WHQBZLS      1
454   B07WGPKTS4      1
1350  B0BR4F878Q      1

[1351 rows x 2 columns]
Any duplicates by product_id: False

In [70]:
# Get the data types
data_types = df[["product_id", "product_name", "rating", "rating_count", "category"]].dtypes

# Get the max length of each column
max_lengths = df[["product_id", "product_name", "rating", "rating_count", "category"]].apply(lambda x: x.astype(str).str.len().max())

# output
result = pd.DataFrame({
    "Data Type": data_types,
    "Max Length": max_lengths
})

print(result)

# I realized when I created "top level category" column, it needed to be explicitly cast to string. I updated that up above and reran.

             Data Type  Max Length
product_id      string          10
product_name    string         485
rating          object           3
rating_count    object           6
category        string          21

# What type coercions do you need to ensure compatibility with your ORM model / DB tables?   If there's any bad data, maybe set it to null?

In [71]:
missing_values = df.isnull().sum()
print("Missing Values:\n", missing_values)

nan_values = df.isna().sum()
print("NaN Values:\n", nan_values)

unique_values = df.nunique()
print("Unique Values Per Column:\n", unique_values)

print("Unique Categories in top_level_category:")
print(df["category"].unique())

print("\nDescriptive Statistics for Numeric Columns:")
print(df.describe())  # Provides stats like min, max, mean, etc.

Missing Values:
 product_id      0
product_name    0
category        0
rating          1
rating_count    0
dtype: int64
NaN Values:
 product_id      0
product_name    0
category        0
rating          1
rating_count    0
dtype: int64
Unique Values Per Column:
 product_id      1351
product_name    1337
category           9
rating            27
rating_count    1144
dtype: int64
Unique Categories in top_level_category:
<StringArray>
['Computers&Accessories',           'Electronics',    'MusicalInstruments',
        'OfficeProducts',          'Home&Kitchen',       'HomeImprovement',
            'Toys&Games',         'Car&Motorbike',   'Health&PersonalCare']
Length: 9, dtype: string

Descriptive Statistics for Numeric Columns:
        product_id                                       product_name  \
count         1465                                               1465
unique        1351                                               1337
top     B07JW9H4J1  Fire-Boltt Ninja Call Pro Plus 1.83" Smart Wat...
freq             3                                                  5

           category rating rating_count
count          1465   1464         1465
unique            9     27         1144
top     Electronics    4.1         9378
freq            526    244            9

# Now, we want to separate our data into two tables compatible with your ORM models / foreign key relationship

In [72]:
# Create Products DataFrame
df_products = df[["product_id", "product_name"]].drop_duplicates()

# Create ProductScalars DataFrame
df_scalars = df[["product_id", "category", "rating", "rating_count"]].drop_duplicates()

In [73]:
print(df_products.head())
#print(df_scalars.head())

   product_id                                       product_name
0  B07JW9H4J1  Wayona Nylon Braided USB to Lightning Fast Cha...
1  B098NS6PVG  Ambrane Unbreakable 60W / 3A Fast Charging 1.5...
2  B096MSW6CT  Sounce Fast Phone Charging Cable & Data Sync U...
3  B08HDJ86NZ  boAt Deuce USB 300 2 in 1 Type-C & Micro USB S...
4  B08CF3B7N1  Portronics Konnect L 1.2M Fast Charging 3A 8 P...

# Bulk Import data

### Create Prodcut table

In [ ]:
with session_scope() as session:
    # Create table if it doesn't exist
    qry_create = """
        CREATE TABLE IF NOT EXISTS product (
            id SERIAL PRIMARY KEY,
            product_id VARCHAR(10) UNIQUE NOT NULL,
            product_name VARCHAR(500) NOT NULL,
            updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
        )
    """
    session.execute(qry_create)
    session.commit()  # Commit the transaction

    # Check if the table exists
    qry_check = """
        SELECT EXISTS (
            SELECT 1 FROM information_schema.tables 
            WHERE table_name = 'product'
        )
    """
    result = session.execute(qry_check).scalar()

    if result:
        print("Table 'product' exists in the database.")
    else:
        print("Table 'product' was not created.")

Session connected as: postgresql://brett:mypassword@localhost:5432/amazon_products_db
✅ Table 'product' exists in the database.

### Create product_scalar table

In [ ]:
with session_scope() as session:
    # Create table if it doesn't exist
    qry_create = """
        CREATE TABLE product_scalars (
            id serial primary key,
            product_id VARCHAR(10),
            category VARCHAR(255) NOT NULL,
            rating numeric(3,
                2
            ) CHECK (
                rating BETWEEN 0
                AND 5
            ),
            rating_count INT CHECK (
                rating_count >= 0
            ),
            updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
            foreign key (product_id) references products(product_id)
        )"""
    session.execute(qry_create)
    session.commit()  # Commit the transaction

    # Check if the table exists
    qry_check = """
        SELECT EXISTS (
            SELECT 1 FROM information_schema.tables 
            WHERE table_name = 'products'
        )
    """
    result = session.execute(qry_check).scalar()

    if result:
        print("Table 'product' exists in the database.")
    else:
        print("Table 'product' was not created.")

Session connected as: postgresql://brett:mypassword@localhost:5432/amazon_products_db
Table 'product' exists in the database.

In [ ]:
# Use the engine to bulk insert data
bulk_insert_df(df_products, Products)
bulk_insert_df(df_scalars, ProductScalars)

Session connected as: postgresql://brett:mypassword@localhost:5432/amazon_products_db

# Queries
- Show me (in Pandas, SQL & SQLAlchemy how you'd get the rating average by category, but weigthed by the rating count, i.e. if the rating has a higher rating count, it is weighted proportionally within the category)
- Show me a couple other interesting queries, using SQL and/or Pandas

In [ ]:

# I could not get the ORM query to work, so changed it to this.
with session_scope() as session:
    qry = "SELECT * FROM product_scalars"
    df_db = pd.read_sql_query(qry, con=session.connection(),
        index_col='product_id',
        dtype={
            'product_id': 'string',
            'category': 'string',
            'rating': 'Float64',
            'rating_count': 'Int64'
        })
    print(df_db.head())

In [128]:
df_scalars["rating"] = pd.to_numeric(df_scalars["rating"], errors="coerce")
df_scalars["rating_count"] = pd.to_numeric(df_scalars["rating_count"], errors="coerce")

df_weighted_avg_pd = (
    df_scalars.groupby("category")
    .apply(lambda x: (x["rating"] * x["rating_count"]).sum() / x["rating_count"].sum())
    .reset_index(name="weighted_avg_rating")
)

print(df_weighted_avg_pd.sort_values(by="weighted_avg_rating", ascending=False))



with session_scope() as session:
    qry = """SELECT 
                category,
                SUM(rating * rating_count) / SUM(rating_count) AS weighted_avg_rating
            FROM product_scalars
            GROUP BY category
            ORDER BY 2 DESC"""
            
    df_weighted_avg_sql = pd.read_sql_query(qry, con=session.connection(),
        index_col='category',
        dtype={
            
            'category': 'string',
            'weighted_avg_rating': 'Float64',
            
        })
    print(df_weighted_avg_sql)

                category  weighted_avg_rating
5        HomeImprovement             4.349346
7         OfficeProducts             4.327161
8             Toys&Games             4.300000
1  Computers&Accessories             4.230489
2            Electronics             4.150944
4           Home&Kitchen             4.090941
3    Health&PersonalCare             4.000000
6     MusicalInstruments             3.954506
0          Car&Motorbike             3.800000
Session connected as: postgresql://brett:mypassword@localhost:5432/amazon_products_db
                       weighted_avg_rating
category
HomeImprovement                   4.349346
OfficeProducts                    4.327161
Toys&Games                             4.3
Computers&Accessories             4.230489
Electronics                       4.150944
Home&Kitchen                      4.090941
Health&PersonalCare                    4.0
MusicalInstruments                3.954506
Car&Motorbike                          3.8

In [ ]:

# check to see if there are any records in Products that don't have records in ProductScalars
with session_scope() as session:
    qry = """SELECT 
                p.product_id,p.product_name
                
            FROM products p
            left outer join product_scalars ps on p.product_id = ps.product_id
            where ps.product_id is null
            ORDER BY 2 DESC"""
            
    df_check_for_missing_joins = pd.read_sql_query(qry, con=session.connection(),
        index_col='product_id',
        dtype={
            
            'product_id': 'string',
            'product_name': 'Float64',
            
        })
    print(df_check_for_missing_joins)

Session connected as: postgresql://brett:mypassword@localhost:5432/amazon_products_db
Empty DataFrame
Columns: [product_name]
Index: []

In [ ]:
# Get the top 3 categories

df_top_categories = (
    df_scalars.groupby("category")["rating_count"]
    .max() 
    .nlargest(3)  
    .reset_index() 
)

print(df_top_categories)

                category  rating_count
0            Electronics        426973
1           Home&Kitchen        270563
2  Computers&Accessories        253105